<div mat-dialog-content>
  <h4>Immobilisations du produit {{data.detailStock.name}} du {{data.displayedDateFrom}} au {{data.displayedDateTo}}</h4>
  <table class="tableViewDetailStock" *ngIf="data.detailStock!=null">
    <tr>
      <th>dates d'immobilisation</th>
      <th>stock total</th>
      <th>stock immobilisé</th>
      <th>commande concernée</th>
    </tr>
    <ng-container *ngFor="let immoDates of data.detailStock.immoDates">
      <ng-container *ngIf="(immoDates.immoDateTo.seconds>=data.dateFrom && immoDates.immoDateTo.seconds<=data.dateTo) || (immoDates.immoDateFrom.seconds>=data.dateFrom && immoDates.immoDateFrom.seconds<=data.dateTo) || (immoDates.immoDateFrom.seconds<=data.dateFrom && immoDates.immoDateTo.seconds>=data.dateTo)">
        <tr>
          <td class="tableViewDetailStock-first">{{immoDates.immoDateFrom.toDate().toLocaleDateString()}} au {{immoDates.immoDateTo.toDate().toLocaleDateString()}}</td>
          <td class="tableViewDetailStock-next">{{data.detailStock.productStock}}</td>
          <td class="tableViewDetailStock-next">{{immoDates.quantity}}</td>
          <td class="tableViewDetailStock-next">{{immoDates.orderId}}</td>
        </tr>
      </ng-container>
    </ng-container>
  </table>
  <p>{{data.message}}</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" *ngIf="data.displayNoButton">Non</button>
  <button mat-button [mat-dialog-close]="'yes'" cdkFocusInitial>Ok</button>
</div>
