<div class="main-container">
  <h2>{{stockTypeParams.templateTitle}}</h2>
  <form [formGroup]="stockDatesForm">
    <h4>Dates d'immobilisations</h4>
    <div>
      <div class="display-inline-block width25">
        <mat-form-field class="width80 margin-auto">
          <input matInput [matDatepicker]="dateFrom" formControlName="dateFrom" placeholder="Date début" required>
          <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
          <mat-datepicker #dateFrom></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="display-inline-block width25">
        <mat-form-field class="width80 margin-auto">
          <input matInput [matDatepicker]="dateTo" formControlName="dateTo" placeholder="Date fin" required>
          <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
          <mat-datepicker #dateTo></mat-datepicker>
        </mat-form-field>
      </div>
      <button  mat-raised-button color="accent" type="button" [routerLink]="['/stock', {isLongRental: !stockTypeParams.isLongRental}]">{{stockTypeParams.templateButton}}</button>
    </div>
  </form>

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rechercher">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc" matSortDisableClear class="mat-elevation-z8">

    <!-- Name Column-->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-align-center"> Nom produit </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="dates">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-align-center"> Immobilisation en cours ou prochaine</th>
      <td mat-cell *matCellDef="let element"> {{element.immosFromDateToDateDate}} </td>
    </ng-container>

    <!-- Stats Column -->
    <ng-container matColumnDef="stats">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-align-center"> Stocks immobilisés sur la période.</th>
      <td mat-cell *matCellDef="let element" class="text-align-center"> {{element.stats}} </td>
    </ng-container>*

    <!-- View Column -->
    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef class="text-align-center"> Détail immobilisations </th>
      <td mat-cell *matCellDef="let element" class="text-align-center">
        <button mat-button>
          <mat-icon color="primary" (click)="viewDetailStock($event.target.id)" [id]="element.id">pageview</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Real stock Column -->
    <ng-container matColumnDef="dayRealStock">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-align-center"> Stocks réels à ce jour.</th>
      <td mat-cell *matCellDef="let element" class="text-align-center">
        <button mat-button>
          <mat-icon color="primary" (click)="viewDayRealStock(element.id)">pageview</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-align-center"> Editer produit </th>
      <td mat-cell *matCellDef="let element" class="text-align-center">
        <button mat-button [routerLink]="['/detail-product/'+element.id]">
          <mat-icon color="primary">edit</mat-icon>
        </button>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
</div>

