<form [formGroup]="exportForm" class="main-container">
  <h2>Export des factures</h2>
  <div>
    <div class="display-inline-block width25">
      <mat-form-field class="width80 margin-auto">
        <input matInput [matDatepicker]="dateFrom" formControlName="dateFrom" placeholder="Date début">
        <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
        <mat-datepicker #dateFrom></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="display-inline-block width25">
      <mat-form-field class="width80 margin-auto">
        <input matInput [matDatepicker]="dateTo" formControlName="dateTo" placeholder="Date fin">
        <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
        <mat-datepicker #dateTo></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
</form>
<div class="button-container">
  <button mat-raised-button color="primary" type="button" (click)="wantExportOrderCsv()"><mat-icon>save_alt</mat-icon> export csv</button>
</div>
