<form [formGroup]="detailOrderForm" class="main-container">
  <h2>{{orderTypeParams.templateTitle}} {{orderId}} - référence devis n° {{detailOrderForm.value.quotationId}}</h2>
  <div class="margin-bottom-1">
    <span class="margin-right" *ngIf="detailOrderForm.value.numerosInvoice.advance!=null">Référence facture acompte : {{detailOrderForm.value.numerosInvoice.advance}}</span>
    <span class="margin-right" *ngIf="detailOrderForm.value.numerosInvoice.advance==null">Référence facture acompte : facture non générée</span>
    <span class="" *ngIf="detailOrderForm.value.numerosInvoice.balance!=null">Référence facture solde : {{detailOrderForm.value.numerosInvoice.balance}}</span>
    <span class="" *ngIf="detailOrderForm.value.numerosInvoice.balance==null">Référence facture solde : facture non générée</span>
  </div>
  <mat-form-field >
    <input type="text" placeholder="Client" aria-label="Client" matInput formControlName="client" [matAutocomplete]="autoCompleteClient" required>
    <mat-autocomplete #autoCompleteClient="matAutocomplete" [displayWith]="displayClientFn">
      <mat-option *ngFor="let clientOption of clientFilteredOptions | async" [value]="clientOption">
        {{clientOption.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Contact client" formControlName="contact" [compareWith]="compareContactOptionFn">
      <mat-option *ngFor="let contactOption of contactOptions | async" [value]="contactOption">
        {{contactOption.contactName}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Commercial Borne-Concept" formControlName="employe" [compareWith]="compareEmployeOptionFn">
      <mat-option *ngFor="let employe of fbEmployes | async" [value]="employe">
        {{employe.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <h4>Produits simples</h4>
  <div>
    <div formArrayName="singleProduct">
      <div *ngFor="let product of singleProduct.controls; let i=index" class="form-array-container">
        <!-- The repeated alias template -->
        <mat-form-field class="width70 margin-right">
          <input type="text" placeholder="Produit Simple" aria-label="Produit simple" [formControlName]="i" matInput [matAutocomplete]="autoCompleteSingleProduct" (click)="filterProducts(i, $event)" (keyup)="filterProducts(i, $event)">
          <mat-autocomplete #autoCompleteSingleProduct="matAutocomplete" [displayWith]="displayProductFn">
            <mat-option *ngFor="let productOption of productFormOptionsFiltered | async" [value]="productOption">
              {{productOption.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="width15 margin-right">
          <input type="number" matInput placeholder="Quantité produit simple" #inputSingleProductAmount (click)="setSingleProductAmount(i, inputSingleProductAmount.value)" (keyup)="setSingleProductAmount(i, inputSingleProductAmount.value)" [value]="this.detailOrderForm.value.singleProductAmount[i]">
        </mat-form-field>
        <button mat-raised-button color="warn" type="button" *ngIf="i>0" (click)="rmSingleProduct(i)" class="suppr-button margin-right">Supprimer</button>
      </div>
      <button mat-raised-button color="accent" type="button" *ngIf="detailOrderForm.value.singleProduct[detailOrderForm.value.singleProduct.length-1]!=''" (click)="addSingleProduct()" class="margin-bottom-1">Ajouter produit simple</button>
    </div>
    <div class="display-inline-block">
    </div>
  </div>


  <h4 class="margin-bottom-0-5">Produits composés</h4>
  <p class="info">Le premier élément de la liste est celui dont le nom et la photo apparaîtront dans les devis et factures.</p>

  <div>
    <div formArrayName="compositeProducts">
      <ng-container *ngFor="let compositeProduct of compositeProducts.controls; index as idxPdt" class="form-array-container">
        <h5>Produit composé {{idxPdt+1}}</h5>
        <div [formGroupName]="idxPdt">
          <div formArrayName="compositeProductElements">
            <ng-container *ngFor="let product of compositeProduct.get('compositeProductElements').controls; index as i" class="form-array-container">
              <mat-form-field class="width70 margin-right">
                <input type="text" placeholder="Elément de produit composé" aria-label="Elément de produit composé"  [formControlName]="i" matInput [matAutocomplete]="autoCompleteCompositeProduct" (click)="filterProducts(i, $event)" (keyup)="filterProducts(i, $event)">
                <mat-autocomplete #autoCompleteCompositeProduct="matAutocomplete" [displayWith]="displayProductFn">
                  <mat-option *ngFor="let productOption of productFormOptionsFiltered | async" [value]="productOption">
                    {{productOption.name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <button mat-raised-button color="warn" type="button" *ngIf="i>0" (click)="rmCompositeProductElement(idxPdt, i)" class="suppr-button">- élt pdt composé</button>
            </ng-container>
            <button mat-raised-button color="accent" type="button" (click)="addCompositeProductElement(idxPdt)" class="margin-bottom-1">+ élt pdt composé</button>
            <mat-form-field class="width100">
              <input type="number" class="" matInput placeholder="Quantité produit composé {{idxPdt+1}}" #inputCompositeProductAmount (click)="setCompositeProductAmount(idxPdt, inputCompositeProductAmount.value)" (keyup)="setCompositeProductAmount(idxPdt, inputCompositeProductAmount.value)" [value]="this.detailOrderForm.value.compositeProductAmount[idxPdt]">
            </mat-form-field>
          </div>
        </div>
        <button mat-raised-button color="warn" type="button" *ngIf="idxPdt>0" (click)="rmCompositeProduct(idxPdt)" class="suppr-button">- produit composé</button>
      </ng-container>
      <button mat-raised-button color="accent" type="button" (click)="addCompositeProduct()" class="margin-bottom-1">+ produit composé</button>
    </div>
  </div>

  <h4 class="margin-bottom-0-5">Prestation particulière</h4>
  <!--div>
    <mat-form-field class="width60 margin-right">
      <input type="text" matInput formControlName="specialProductName" placeholder="Intitulé prestation (frais kilométriques...)">
    </mat-form-field>
    <mat-form-field class="width30 margin-auto">
      <input type="number" matInput formControlName="specialProductPrice" placeholder="Prix prestation particulière">
    </mat-form-field>
  </div-->
  <div formArrayName="specialProduct">
    <div *ngFor="let product of specialProduct.controls; let i=index" class="form-array-container">
      <!-- The repeated alias template -->
      <mat-form-field class="width70 margin-right">
        <input matInput type="text" placeholder="Produit spécial (frais kilométriques...)" aria-label="Produit spécial" [formControlName]="i">
      </mat-form-field>
      <mat-form-field class="width15 margin-right">
        <input type="number" matInput placeholder="Prix produit spécial" #inputSpecialProductPrice (click)="setSpecialProductPrice(i, inputSpecialProductPrice.value)" (keyup)="setSpecialProductPrice(i, inputSpecialProductPrice.value)" [value]="this.detailOrderForm.value.specialProductPrice[i]">
      </mat-form-field>
      <button mat-raised-button color="warn" type="button" *ngIf="i>0" (click)="rmSpecialProduct(i)" class="suppr-button margin-right">Supprimer</button>
    </div>
    <button mat-raised-button color="accent" type="button" *ngIf="detailOrderForm.value.specialProduct[detailOrderForm.value.specialProduct.length-1]!=''" (click)="addSpecialProduct()" class="margin-bottom-1">Ajouter produit spécial</button>
  </div>

  <!--h4>Produits optionnels</h4>
  <div>
    <div formArrayName="optionalProduct">
      <div *ngFor="let product of optionalProduct.controls; let i=index" class="form-array-container">
        <mat-form-field class="width70 margin-right">
          <input type="text" placeholder="Produit optionnel" aria-label="Produit optionnel" [formControlName]="i" matInput [matAutocomplete]="autoCompleteOptionalProduct" (click)="filterProducts(i, $event)" (keyup)="filterProducts(i, $event)">
          <mat-autocomplete #autoCompleteOptionalProduct="matAutocomplete" [displayWith]="displayProductFn">
            <mat-option *ngFor="let productOption of productFormOptionsFiltered | async" [value]="productOption">
              {{productOption.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="width15 margin-right">
          <input type="number" matInput placeholder="Quantité produit optionnel" #inputOptionalProductAmount (click)="setOptionalProductAmount(i, inputOptionalProductAmount.value)" (keyup)="setOptionalProductAmount(i, inputOptionalProductAmount.value)" [value]="this.detailOrderForm.value.optionalProductAmount[i]">
        </mat-form-field>
        <button mat-raised-button color="warn" type="button" *ngIf="i>0" (click)="rmOptionalProduct(i)" class="suppr-button margin-right">Supprimer</button>
      </div>
      <button mat-raised-button color="accent" type="button" *ngIf="detailOrderForm.value.optionalProduct[detailOrderForm.value.optionalProduct.length-1]!=''" (click)="addOptionalProduct()" class="margin-bottom-1">Ajouter produit optionnel</button>
    </div>
    <div class="display-inline-block">
    </div>
  </div-->

  <h4>Dates</h4>
  <div>
    <div class="display-inline-block width25">
      <mat-form-field class="width80 margin-auto">
        <input matInput [matDatepicker]="rentDateFrom" formControlName="rentDateFrom" placeholder="Début location">
        <mat-datepicker-toggle matSuffix [for]="rentDateFrom"></mat-datepicker-toggle>
        <mat-datepicker #rentDateFrom></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="display-inline-block width25">
      <mat-form-field class="width80 margin-auto">
        <input matInput [matDatepicker]="rentDateTo" formControlName="rentDateTo" placeholder="Fin location">
        <mat-datepicker-toggle matSuffix [for]="rentDateTo"></mat-datepicker-toggle>
        <mat-datepicker #rentDateTo></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="display-inline-block width25">
      <mat-form-field class="width80 margin-auto">
        <input matInput [matDatepicker]="immoDateFrom" formControlName="immoDateFrom" placeholder="Début immobilisation">
        <mat-datepicker-toggle matSuffix [for]="immoDateFrom"></mat-datepicker-toggle>
        <mat-datepicker #immoDateFrom></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="display-inline-block width25">
      <mat-form-field class="width80 margin-auto">
        <input matInput [matDatepicker]="immoDateTo" formControlName="immoDateTo" placeholder="Fin immobilisation">
        <mat-datepicker-toggle matSuffix [for]="immoDateTo"></mat-datepicker-toggle>
        <mat-datepicker #immoDateTo></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <div>
    <div class="display-inline-block width25">
      <mat-form-field class="width80">
        <input type="text" matInput placeholder="Date devis" disabled [value]="detailOrderForm.value.quotationDate.seconds*1000 | date:'dd/MM/yyyy'">
      </mat-form-field>
    </div>

    <div class="display-inline-block width25">
      <mat-form-field class="width80 margin-auto">
        <input matInput [matDatepicker]="orderDate" formControlName="orderDate" placeholder="Date commande" required>
        <mat-datepicker-toggle matSuffix [for]="orderDate"></mat-datepicker-toggle>
        <mat-datepicker #orderDate></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="display-inline-block width25">
      <mat-form-field class="width80 margin-auto">
        <input matInput [matDatepicker]="relaunchClientDate" formControlName="relaunchClientDate" placeholder="Date dernière relance client">
        <mat-datepicker-toggle matSuffix [for]="relaunchClientDate"></mat-datepicker-toggle>
        <mat-datepicker #relaunchClientDate></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="display-inline-block width25">
      <mat-form-field class="width80 margin-auto">
        <input matInput [matDatepicker]="balanceInvoiceDate" formControlName="balanceInvoiceDate" placeholder="Date facture solde">
        <mat-datepicker-toggle matSuffix [for]="balanceInvoiceDate"></mat-datepicker-toggle>
        <mat-datepicker #balanceInvoiceDate></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <h4>Dates et lieu d'installation</h4>
  <div>
    <div class="display-inline-block width25">
      <mat-form-field class="width80 margin-auto">
        <input matInput [matDatepicker]="installationDate" formControlName="installationDate" placeholder="Date d'installation">
        <mat-datepicker-toggle matSuffix [for]="installationDate"></mat-datepicker-toggle>
        <mat-datepicker #installationDate></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="display-inline-block width25">
      <mat-form-field class="width80 margin-auto" >
        <input type="text" matInput formControlName="installationHours" placeholder="Horaires d'installation">
      </mat-form-field>
    </div>
    <mat-form-field class="width60 margin-right">
      <input type="text" matInput formControlName="installationContactName" placeholder="Nom du contact sur place">
    </mat-form-field>
    <mat-form-field class="width30 margin-auto">
      <input type="text" matInput formControlName="installationContactPhone" placeholder="Téléphone du contact sur place">
    </mat-form-field>
    <mat-form-field class="width100 margin-auto">
      <input type="text" matInput formControlName="installationAddress" placeholder="Adresse">
    </mat-form-field>
    <mat-form-field class="width30 margin-right">
      <input type="number" matInput formControlName="installationZipcode" placeholder="Code postal">
    </mat-form-field>
    <mat-form-field class="width60 margin-auto">
      <input type="text" matInput formControlName="installationTown" placeholder="Ville">
    </mat-form-field>
  </div>

  <h4>Commentaires</h4>
  <mat-form-field class="width100 margin-auto">
    <input type="text" matInput formControlName="quotationComment" placeholder="Commentaires devis (apparaissent sur le devis)">
  </mat-form-field>
  <mat-form-field class="width100 margin-auto">
    <input type="text" matInput formControlName="privateQuotationComment" placeholder="Commentaires privés (apparaissent sur le bon de préparation)">
  </mat-form-field>
  <mat-form-field class="width100 margin-auto">
    <input type="text" matInput formControlName="orderComment" placeholder="Commentaires facture (apparaissent sur les factures)">
  </mat-form-field>
  <mat-form-field class="width100 margin-auto">
    <input type="text" matInput formControlName="deliveryComment" placeholder="Commentaires bon de livraison (apparaissent sur le bon de livraison)">
  </mat-form-field>
  <h4>Références clients</h4>
  <mat-form-field class="width25 margin-right">
    <input type="text" matInput formControlName="clientOrderNumber" placeholder="Numéro de commande du client">
  </mat-form-field>
  <h4>Prix HT</h4>
  <div>
    <mat-form-field class="width25 margin-right">
      <input type="number" matInput formControlName="advanceRate" placeholder="Taux facture acompte en %">
    </mat-form-field>
    <mat-form-field class="width50 margin-right">
      <input type="number" matInput formControlName="credit" placeholder="Acompte en € TTC versé par le client sur devis (sans facture d'acompte)">
    </mat-form-field>
  </div>
</form>

<form [formGroup]="detailOrderPricesForm" class="main-container">
  <div>
    <mat-form-field class="width20 margin-right">
      <input type="number" matInput placeholder="Prix total HT avant remise" disabled [value]="detailOrderPricesForm.value.price">
    </mat-form-field>
    <mat-form-field class="width20 margin-right">
      <input type="number" matInput placeholder="Remise sur locations en %" disabled [value]="detailOrderPricesForm.value.rentalDiscount">
    </mat-form-field>
    <mat-form-field class="width20 margin-right">
      <input type="number" matInput placeholder="Remise sur ventes en %" disabled [value]="detailOrderPricesForm.value.saleDiscount">
    </mat-form-field>
    <mat-form-field class="width20">
      <input type="number" matInput placeholder="Prix total HT remisé" disabled [value]="detailOrderPricesForm.value.discountPrice">
    </mat-form-field>
  </div>
</form>

<div class="main-container">
  <h4>Scan devis client signé</h4>
  <div *ngIf="downloadScanOrderURL==undefined">
    <input type="file" placeholder="Photo" (change)="updateScanOrder($event)" #inputFile accept="image/*,.pdf">
    <button mat-button>
      <mat-icon color="warn" (click)="deleteScanOrder(inputFile)" *ngIf="scanOrderFile!=undefined">delete</mat-icon>
    </button>
  </div>
  <div *ngIf="downloadScanOrderURL!=undefined">
    <a [href]="downloadScanOrderURL | async" target="_blank"><mat-icon>picture_as_pdf</mat-icon></a>
    <button mat-button>
      <mat-icon color="warn" (click)="wantDeleteScanOrderOnFirestorage()" >delete</mat-icon>
    </button>
  </div>
</div>

<div class="button-container">
  <button mat-raised-button color="primary" type="button" (click)="wantUpdateOrder(false)" [disabled]="!detailOrderForm.valid">Enregistrer</button>
  <!--button mat-raised-button color="warn" type="button" (click)="wantDeleteOrder()">Supprimer</button-->
  <a routerLink="/list-orders" mat-raised-button>Annuler</a>
  <button mat-raised-button color="accent" type="button" (click)="wantGeneratePreparationReceiptPdf()"><mat-icon>picture_as_pdf</mat-icon> Bon préparation</button>
  <button mat-raised-button color="accent" type="button" (click)="wantGenerateDeliveryReceiptPdf()"><mat-icon>picture_as_pdf</mat-icon> Bon livraison</button>
  <button mat-raised-button color="accent" type="button" (click)="wantGenerateAdvanceInvoicePdf()"><mat-icon>picture_as_pdf</mat-icon> Fa-acompte</button>
  <button mat-raised-button color="accent" type="button" (click)="wantGenerateBalanceInvoicePdf()"><mat-icon>picture_as_pdf</mat-icon> Fa-solde</button>
  <button mat-raised-button color="accent" type="button" (click)="wantArchiveOrder()"><mat-icon *ngIf="orderTypeParams.isArchived=='false'">archive</mat-icon><mat-icon *ngIf="orderTypeParams.isArchived=='true'">unarchive</mat-icon>{{orderTypeParams.templateButton}}</button>
</div>
