<form [formGroup]="orderForm" class="main-container">
  <h2>{{orderTypeParams.templateTitle}} {{orderId}} - référence devis n° {{orderForm.value.quotationId}}</h2>
  <div class="margin-bottom-1">
    <span class="margin-right" *ngIf="orderForm.value.numerosInvoice.advance!=null">Référence facture acompte : {{orderForm.value.numerosInvoice.advance}}</span>
    <span class="margin-right" *ngIf="orderForm.value.numerosInvoice.advance==null">Référence facture acompte : facture non générée</span>
    <span class="" *ngIf="orderForm.value.numerosInvoice.balance!=null">Référence facture solde : {{orderForm.value.numerosInvoice.balance}}</span>
    <span class="" *ngIf="orderForm.value.numerosInvoice.balance==null">Référence facture solde : facture non générée</span>
  </div>
  <mat-form-field>
    <input type="text" placeholder="Client" aria-label="Client" matInput [formControl]="searchClientFormControl" [matAutocomplete]="autoCompleteClient" required>
    <mat-autocomplete #autoCompleteClient="matAutocomplete" (optionSelected)="setClientFromSearchClientFormControl()">
      <mat-option *ngFor="let client of searchClientFormControlDataFiltered | async" [value]="client">
        {{client}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="display-none">
    <input type="text" aria-label="client" formControlName="client" matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Contact client" formControlName="contact" [compareWith]="compareContactOptionFn">
      <mat-option *ngFor="let contactOption of contactOptions | async" [value]="contactOption">
        {{contactOption.contactName}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <label>
      <input type="text" matInput formControlName="referenceClient" placeholder="Référence fournie ou demandée par le client">
    </label>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Commercial Borne-Concept" formControlName="employe" [compareWith]="compareEmployeOptionFn">
      <mat-option *ngFor="let employe of fbEmployes | async" [value]="employe">
        {{employe.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <h4>Produits simples</h4>
  <div>
    <div formArrayName="singleProduct">
      <div *ngFor="let product of singleProduct.controls; let i=index" class="form-array-container">
        <!-- The repeated alias template -->
        <mat-form-field class="width70 margin-right">
          <input type="text" placeholder="Produit Simple" aria-label="Produit simple" [formControl]="searchSingleProductFormControls.controls[i]" matInput [matAutocomplete]="autoCompleteSingleProduct">
          <mat-autocomplete #autoCompleteSingleProduct="matAutocomplete" (optionSelected)="setSingleProductFromSearchProductFormControl(i)">
            <mat-option *ngFor="let productFiltered of searchSingleProductFormControlDataFiltered[i] | async" [value]="productFiltered">
              {{productFiltered}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="display-none">
          <input type="text" placeholder="Produit Simple" aria-label="Produit simple" [formControlName]="i" matInput>
        </mat-form-field>
        <mat-form-field class="width15 margin-right">
          <label>
            <input type="number" matInput placeholder="Quantité produit simple" #inputSingleProductAmount (click)="setSingleProductAmount(i, inputSingleProductAmount.value)" (keyup)="setSingleProductAmount(i, inputSingleProductAmount.value)" [value]="this.orderForm.value.singleProductAmount[i]">
          </label>
        </mat-form-field>
        <button mat-raised-button color="warn" type="button" *ngIf="i>0" (click)="rmSingleProduct(i)" class="suppr-button margin-right">Supprimer</button>
        <button mat-raised-button color="warn" type="button" *ngIf="i===0 && orderForm.controls.singleProduct.controls[0].value !==''" (click)="rmSingleProduct(i)" class="suppr-button margin-right">Vider</button>
      </div>
      <button mat-raised-button color="accent" type="button" *ngIf="orderForm.value.singleProduct[orderForm.value.singleProduct.length-1]!=''" (click)="addSingleProduct()" class="margin-bottom-1">Ajouter produit simple</button>
    </div>
    <div class="display-inline-block">
    </div>
  </div>


  <h4 class="margin-bottom-0-5">Produits composés</h4>
  <p class="info">Le premier élément de la liste est celui dont le nom et la photo apparaîtront dans les devis et factures.</p>

  <div>
    <div formArrayName="compositeProducts">
      <ng-container *ngFor="let compositeProduct of compositeProducts.controls; index as idxPdt" class="form-array-container">
        <h5>Produit composé {{idxPdt+1}}</h5>
        <div [formGroupName]="idxPdt">
          <div formArrayName="compositeProductElements">
            <ng-container *ngFor="let product of compositeProduct.get('compositeProductElements').controls; index as i" class="form-array-container">
              <mat-form-field class="width70 margin-right">
                <input type="text" placeholder="Elément de produit composé" aria-label="Elément de produit composé" [formControl]="searchCompositeProductFormControls.controls[idxPdt].get('compositeProductSearchElements').controls[i]" matInput [matAutocomplete]="autoCompleteCompositeProduct">
                <mat-autocomplete #autoCompleteCompositeProduct="matAutocomplete" (optionSelected)="setCompositeProductFromSearchProductFormControl(i, idxPdt)">
                  <mat-option *ngFor="let productFiltered of searchCompositeProductFormControlDataFiltered[idxPdt][i] | async" [value]="productFiltered">
                    {{productFiltered}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-form-field class="display-none">
                <input type="text" placeholder="Elément de produit composé" aria-label="Elément de produit composé"  [formControlName]="i" matInput>
              </mat-form-field>
              <button mat-raised-button color="warn" type="button" *ngIf="i>0 || (i === 0 && orderForm.controls.compositeProducts.controls[idxPdt].controls.compositeProductElements.controls[0].value !=='')" (click)="rmCompositeProductElement(idxPdt, i)" class="suppr-button">- élt pdt composé</button>
            </ng-container>
            <button mat-raised-button color="accent" type="button" (click)="addCompositeProductElement(idxPdt)" class="margin-bottom-1">+ élt pdt composé</button>
            <mat-form-field class="width100">
              <label>
                <input type="number" class="" matInput placeholder="Quantité produit composé {{idxPdt+1}}" #inputCompositeProductAmount (click)="setCompositeProductAmount(idxPdt, inputCompositeProductAmount.value)" (keyup)="setCompositeProductAmount(idxPdt, inputCompositeProductAmount.value)" [value]="this.orderForm.value.compositeProductAmount[idxPdt]">
              </label>
            </mat-form-field>
          </div>
        </div>
        <button mat-raised-button color="warn" type="button" *ngIf="idxPdt>0" (click)="rmCompositeProduct(idxPdt)" class="suppr-button">- produit composé</button>
      </ng-container>
      <button mat-raised-button color="accent" type="button" (click)="addCompositeProduct()" class="margin-bottom-1">+ produit composé</button>
    </div>
  </div>

  <h4 class="margin-bottom-0-5">Prestation particulière</h4>
  <!--div>
    <mat-form-field class="width60 margin-right">
      <input type="text" matInput formControlName="specialProductName" placeholder="Intitulé prestation (frais kilométriques...)">
    </mat-form-field>
    <mat-form-field class="width30 margin-auto">
      <input type="number" matInput formControlName="specialProductPrice" placeholder="Prix prestation particulière">
    </mat-form-field>
  </div-->
  <div formArrayName="specialProduct">
    <div *ngFor="let product of specialProduct.controls; let i=index" class="form-array-container">
      <!-- The repeated alias template -->
      <mat-form-field class="width70 margin-right">
        <input matInput type="text" placeholder="Produit spécial (frais kilométriques...)" aria-label="Produit spécial" [formControlName]="i">
      </mat-form-field>
      <mat-form-field class="width15 margin-right">
        <label>
          <input type="number" matInput placeholder="Prix produit spécial" #inputSpecialProductPrice (click)="setSpecialProductPrice(i, inputSpecialProductPrice.value)" (keyup)="setSpecialProductPrice(i, inputSpecialProductPrice.value)" [value]="this.orderForm.value.specialProductPrice[i]">
        </label>
      </mat-form-field>
      <button mat-raised-button color="warn" type="button" *ngIf="i>0" (click)="rmSpecialProduct(i)" class="suppr-button margin-right">Supprimer</button>
    </div>
    <button mat-raised-button color="accent" type="button" *ngIf="orderForm.value.specialProduct[orderForm.value.specialProduct.length-1]!=''" (click)="addSpecialProduct()" class="margin-bottom-1">Ajouter produit spécial</button>
  </div>

  <h4>Dates</h4>
  <div>
    <div class="display-inline-block width25">
      <mat-form-field class="width80 margin-auto">
        <label>
          <input matInput [matDatepicker]="rentDateFrom" formControlName="rentDateFrom" placeholder="Début location">
        </label>
        <mat-datepicker-toggle matSuffix [for]="rentDateFrom"></mat-datepicker-toggle>
        <mat-datepicker #rentDateFrom></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="display-inline-block width25">
      <mat-form-field class="width80 margin-auto">
        <label>
          <input matInput [matDatepicker]="rentDateTo" formControlName="rentDateTo" placeholder="Fin location">
        </label>
        <mat-datepicker-toggle matSuffix [for]="rentDateTo"></mat-datepicker-toggle>
        <mat-datepicker #rentDateTo></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="display-inline-block width25">
      <mat-form-field class="width80 margin-auto">
        <label>
          <input matInput [matDatepicker]="immoDateFrom" formControlName="immoDateFrom" placeholder="Début immobilisation">
        </label>
        <mat-datepicker-toggle matSuffix [for]="immoDateFrom"></mat-datepicker-toggle>
        <mat-datepicker #immoDateFrom></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="display-inline-block width25">
      <mat-form-field class="width80 margin-auto">
        <label>
          <input matInput [matDatepicker]="immoDateTo" formControlName="immoDateTo" placeholder="Fin immobilisation">
        </label>
        <mat-datepicker-toggle matSuffix [for]="immoDateTo"></mat-datepicker-toggle>
        <mat-datepicker #immoDateTo></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <div>
    <div class="display-inline-block width25">
      <mat-form-field class="width80">
        <label>
          <input type="text" matInput placeholder="Date devis" disabled [value]="orderForm.value.quotationDate.seconds*1000 | date:'dd/MM/yyyy'">
        </label>
      </mat-form-field>
    </div>

    <div class="display-inline-block width25">
      <mat-form-field class="width80 margin-auto">
        <label>
          <input matInput [matDatepicker]="orderDate" formControlName="orderDate" placeholder="Date commande" required>
        </label>
        <mat-datepicker-toggle matSuffix [for]="orderDate"></mat-datepicker-toggle>
        <mat-datepicker #orderDate></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="display-inline-block width25">
      <mat-form-field class="width80 margin-auto">
        <label>
          <input matInput [matDatepicker]="relaunchClientDate" formControlName="relaunchClientDate" placeholder="Date dernière relance client">
        </label>
        <mat-datepicker-toggle matSuffix [for]="relaunchClientDate"></mat-datepicker-toggle>
        <mat-datepicker #relaunchClientDate></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <h4>Dates et lieu d'installation</h4>
  <div>
    <div class="display-inline-block width25">
      <mat-form-field class="width80 margin-auto">
        <label>
          <input matInput [matDatepicker]="installationDate" formControlName="installationDate" placeholder="Date d'installation">
        </label>
        <mat-datepicker-toggle matSuffix [for]="installationDate"></mat-datepicker-toggle>
        <mat-datepicker #installationDate></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="display-inline-block width25">
      <mat-form-field class="width80 margin-auto" >
        <label>
          <input type="text" matInput formControlName="installationHours" placeholder="Horaires d'installation">
        </label>
      </mat-form-field>
    </div>
    <div class="display-inline-block width25">
      <mat-form-field class="width80 margin-auto">
        <input matInput [matDatepicker]="dismountingDate" formControlName="dismountingDate" placeholder="Date de démontage">
        <mat-datepicker-toggle matSuffix [for]="dismountingDate"></mat-datepicker-toggle>
        <mat-datepicker #dismountingDate></mat-datepicker>
      </mat-form-field>
    </div>
    <mat-form-field class="width60 margin-right">
      <label>
        <input type="text" matInput formControlName="installationContactName" placeholder="Nom du contact sur place">
      </label>
    </mat-form-field>
    <mat-form-field class="width30 margin-auto">
      <label>
        <input type="text" matInput formControlName="installationContactPhone" placeholder="Téléphone du contact sur place">
      </label>
    </mat-form-field>
    <mat-form-field class="width100 margin-auto">
      <label>
        <input type="text" matInput formControlName="installationAddress" placeholder="Adresse">
      </label>
    </mat-form-field>
    <mat-form-field class="width30 margin-right">
      <label>
        <input type="number" matInput formControlName="installationZipcode" placeholder="Code postal">
      </label>
    </mat-form-field>
    <mat-form-field class="width60 margin-auto">
      <label>
        <input type="text" matInput formControlName="installationTown" placeholder="Ville">
      </label>
    </mat-form-field>
  </div>

  <h4>Commentaires</h4>
  <mat-form-field class="width100 margin-auto">
    <label>
      <input type="text" matInput formControlName="quotationComment" placeholder="Commentaires devis (apparaissent sur le devis)">
    </label>
  </mat-form-field>
  <mat-form-field class="width100 margin-auto">
    <label>
      <input type="text" matInput formControlName="privateQuotationComment" placeholder="Commentaires privés (apparaissent sur le bon de préparation)">
    </label>
  </mat-form-field>
  <mat-form-field class="width100 margin-auto">
    <label>
      <input type="text" matInput formControlName="orderComment" placeholder="Commentaires facture (apparaissent sur les factures)">
    </label>
  </mat-form-field>
  <mat-form-field class="width100 margin-auto">
    <label>
      <input type="text" matInput formControlName="deliveryComment" placeholder="Commentaires bon de livraison (apparaissent sur le bon de livraison)">
    </label>
  </mat-form-field>
  <h4>Références clients</h4>
  <mat-form-field class="width25 margin-right">
    <label>
      <input type="text" matInput formControlName="clientOrderNumber" placeholder="Numéro de commande du client">
    </label>
  </mat-form-field>
  <h4>Facturation</h4>
</form>

<form [formGroup]="pricesForm" class="main-container">
  <div>
    <mat-form-field class="width20 margin-right">
      <label>
        <input type="number" matInput placeholder="Prix total HT avant remise" disabled [value]="pricesForm.value.price">
      </label>
    </mat-form-field>
    <mat-form-field class="width20 margin-right">
      <label>
        <input type="number" matInput placeholder="Remise sur locations en %" disabled [value]="pricesForm.value.rentalDiscount">
      </label>
    </mat-form-field>
    <mat-form-field class="width20 margin-right">
      <label>
        <input type="number" matInput placeholder="Remise sur ventes en %" disabled [value]="pricesForm.value.saleDiscount">
      </label>
    </mat-form-field>
    <mat-form-field class="width20">
      <label>
        <input type="number" matInput placeholder="Prix total HT remisé" disabled [value]="pricesForm.value.discountPrice">
      </label>
    </mat-form-field>
  </div>
</form>

<form [formGroup]="orderForm" class="main-container">
  <div>
    <mat-form-field class="width20 margin-right">
      <label>
        <input type="number" matInput formControlName="advanceRate" placeholder="Taux facture acompte en %">
      </label>
    </mat-form-field>
    <mat-form-field class="width20 margin-right">
      <label>
        <input type="number" matInput formControlName="credit" placeholder="Acompte en € TTC versé par le client sur devis (sans facture d'acompte)">
      </label>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="width15 margin-right">
      <label>
        <input matInput placeholder="Montant HT facture acompte" disabled [value]="orderForm.value.paymentInvoice.advance.amount">
      </label>
    </mat-form-field>
    <mat-form-field class="width15 margin-right">
      <label>
        <input matInput placeholder="Montant TTC facture acompte" disabled [value]="orderForm.value.paymentInvoice.advance.amount*1.2">
      </label>
    </mat-form-field>
    <mat-form-field class="width15 margin-right">
      <label>
        <input matInput type="text" disabled placeholder="Référence facture acompte " [value]="orderForm.value.numerosInvoice.advance !== null ? orderForm.value.numerosInvoice.advance.toString() : 'non générée'">
      </label>
    </mat-form-field>
    <mat-form-field class="width20 margin-right">
      <label>
        <input matInput [matDatepicker]="advanceInvoiceDate" formControlName="advanceInvoiceDate" placeholder="Date facture accompte">
      </label>
      <mat-datepicker-toggle matSuffix [for]="advanceInvoiceDate"></mat-datepicker-toggle>
      <mat-datepicker #advanceInvoiceDate></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="width20 margin-right">
      <label>
        <input matInput [matDatepicker]="paymentAdvanceDate" [(ngModel)]="orderForm.value.paymentInvoice.advance.date" [ngModelOptions]="{standalone: true}" placeholder="Date paiement facture d'acompte">
      </label>
      <mat-datepicker-toggle matSuffix [for]="paymentAdvanceDate"></mat-datepicker-toggle>
      <mat-datepicker #paymentAdvanceDate></mat-datepicker>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="width15 margin-right">
      <label>
        <input type="number" matInput placeholder="Montant HT facture solde" disabled [value]="orderForm.value.paymentInvoice.balance.amount">
      </label>
    </mat-form-field>
    <mat-form-field class="width15 margin-right">
      <label>
        <input type="number" matInput placeholder="Montant TTC facture solde" disabled [value]="orderForm.value.paymentInvoice.balance.amount * 1.2">
      </label>
    </mat-form-field>
    <mat-form-field class="width15 margin-right">
      <label>
        <input matInput type="text" disabled placeholder="Référence facture solde " [value]="orderForm.value.numerosInvoice.balance !== null ? orderForm.value.numerosInvoice.balance.toString() : 'non générée'">
      </label>
    </mat-form-field>
    <mat-form-field class="width20 margin-right">
      <label>
        <input matInput [matDatepicker]="balanceInvoiceDate" formControlName="balanceInvoiceDate" placeholder="Date facture solde">
      </label>
      <mat-datepicker-toggle matSuffix [for]="balanceInvoiceDate"></mat-datepicker-toggle>
      <mat-datepicker #balanceInvoiceDate></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="width20 margin-right">
      <label>
        <input matInput [matDatepicker]="paymentBalanceDate" [(ngModel)]="orderForm.value.paymentInvoice.balance.date" [ngModelOptions]="{standalone: true}" placeholder="Date paiement facture de solde">
      </label>
      <mat-datepicker-toggle matSuffix [for]="paymentBalanceDate"></mat-datepicker-toggle>
      <mat-datepicker #paymentBalanceDate></mat-datepicker>
    </mat-form-field>
  </div>

  <h4>Coûts externes</h4>
  <div formArrayName="externalCosts">
    <div *ngFor="let externalCost of externalCosts.controls; let i=index" class="form-array-container">
      <!-- The repeated alias template -->
      <mat-form-field class="width70 margin-right">
        <input matInput type="text" placeholder="Intitulé coût externe" aria-label="Coût externes" [(ngModel)]="this.orderForm.value.externalCosts[i].name" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <mat-form-field class="width15 margin-right">
        <label>
          <input type="number" matInput placeholder="Prix coût externe" [(ngModel)]="this.orderForm.value.externalCosts[i].amount" [ngModelOptions]="{standalone: true}">
        </label>
      </mat-form-field>
      <button mat-raised-button color="warn" type="button" *ngIf="i>0" (click)="rmExternalCost(i)" class="suppr-button margin-right">Supprimer</button>
    </div>
    <button mat-raised-button color="accent" type="button" *ngIf="orderForm.value.externalCosts[orderForm.value.externalCosts.length-1].name !== '' && orderForm.value.externalCosts[orderForm.value.externalCosts.length-1].amount !== ''" (click)="addExternalCost()" class="margin-bottom-1">Ajouter coût externe</button>
  </div>

</form>

<div class="main-container">
  <h4>Scan devis client signé</h4>
  <div *ngIf="downloadScanOrderURL==undefined">
    <input type="file" placeholder="Photo" (change)="updateScanOrder($event)" #inputFile accept="image/*,.pdf">
    <button mat-button>
      <mat-icon color="warn" (click)="deleteScanOrder(inputFile)" *ngIf="scanOrderFile!=undefined">delete</mat-icon>
    </button>
  </div>
  <div *ngIf="downloadScanOrderURL!=undefined">
    <a [href]="downloadScanOrderURL | async" target="_blank"><mat-icon>picture_as_pdf</mat-icon></a>
    <button mat-button>
      <mat-icon color="warn" (click)="wantDeleteScanOrderOnFirestorage()" >delete</mat-icon>
    </button>
  </div>
</div>

<div class="button-container">
  <button mat-raised-button color="primary" type="button" (click)="wantUpdateOrder(false)" [disabled]="!orderForm.valid">Enregistrer</button>
  <a routerLink="/list-orders" mat-raised-button>Annuler</a>
  <button mat-raised-button color="accent" type="button" (click)="wantGeneratePreparationReceiptPdf()"><mat-icon>picture_as_pdf</mat-icon> Bon préparation</button>
  <button mat-raised-button color="accent" type="button" (click)="wantGenerateDeliveryReceiptPdf()"><mat-icon>picture_as_pdf</mat-icon> Bon livraison</button>
  <button mat-raised-button color="accent" type="button" (click)="wantGenerateAdvanceInvoicePdf()"><mat-icon>picture_as_pdf</mat-icon> Fa-acompte</button>
  <button mat-raised-button color="accent" type="button" (click)="wantGenerateBalanceInvoicePdf()"><mat-icon>picture_as_pdf</mat-icon> Fa-solde</button>
  <button mat-raised-button color="accent" type="button" (click)="wantArchiveOrder()"><mat-icon *ngIf="orderTypeParams.isArchived=='false'">archive</mat-icon><mat-icon *ngIf="orderTypeParams.isArchived=='true'">unarchive</mat-icon>{{orderTypeParams.templateButton}}</button>
</div>
