<div class="main-container">
  <h2>{{listInvoiceTitle}}</h2>

  <form [formGroup]="formDates">
    <h3>Recherche factures par dates</h3>
    <div>
      <div class="display-inline-block width25">
        <mat-form-field class="width80 margin-auto">
          <input matInput [matDatepicker]="dateFrom" formControlName="dateFrom" placeholder="Date début" (dateChange)="wantOrdersByDate()">
          <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
          <mat-datepicker #dateFrom></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="display-inline-block width25">
        <mat-form-field class="width80 margin-auto">
          <input matInput [matDatepicker]="dateTo" formControlName="dateTo" placeholder="Date fin" (dateChange)="wantOrdersByDate()">
          <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
          <mat-datepicker #dateTo></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="display-inline-block width25">
        <button mat-raised-button color="primary" type="button" (click)="wantExportOrderCsv()"><mat-icon>save_alt</mat-icon> export csv</button>
      </div>
    </div>
  </form>

  <div *ngIf="formDates.value.dateFrom !== '' && formDates.value.dateTo !== ''">
    Total TTC : {{stats.totalTTC}}€ - Total HT : {{stats.totalHT}}€ - Coûts externes HT: {{stats.externalCosts}} - Marge HT : {{stats.totalMarge}}€ - Avances TTC : {{stats.credit}} - A encaisser TTC : {{stats.totalDu}}€
  </div>

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rechercher">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort matSortActive="numeroInvoice" matSortDirection="desc" matSortDisableClear class="mat-elevation-z8">

    <!-- NumeroInvoice Column -->
    <ng-container matColumnDef="numeroInvoice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Numéro de facture </th>
      <td mat-cell *matCellDef="let element"> {{element.numeroInvoice}} </td>
    </ng-container>

    <!-- Invoice Date Column -->
    <ng-container matColumnDef="dateInvoice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date facture </th>
      <td mat-cell *matCellDef="let element"> {{element.dateInvoice }} </td>
    </ng-container>

    <!-- Client Name Column -->
    <ng-container matColumnDef="client">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Client </th>
      <td mat-cell *matCellDef="let element"> {{element.client}} </td>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Numéro commande </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="orderDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date commande </th>
      <td mat-cell *matCellDef="let element"> {{element.orderDate.toDate() | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <!-- Type facture Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type facture </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <!-- Total HT Column -->
    <ng-container matColumnDef="totalHT">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Total HT </th>
      <td mat-cell *matCellDef="let element"> {{element.totalHT}} </td>
    </ng-container>

    <!-- Total TTC Column -->
    <ng-container matColumnDef="totalTTC">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Total TTC </th>
      <td mat-cell *matCellDef="let element"> {{element.totalTTC}} </td>
    </ng-container>

    <!-- Payment invoice Column -->
    <ng-container matColumnDef="invoiceInfos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Facture payée ? </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.invoiceInfos.date === null && element.invoiceInfos.numero === null">facture non générée</span>
        <span *ngIf="element.invoiceInfos.date === null && element.invoiceInfos.numero !== null">non payée</span>
        <span *ngIf="element.invoiceInfos.date !== null && element.invoiceInfos.numero !== null ">le {{element.invoiceInfos.date.toDate() | date:'dd/MM/yyyy'}}</span>
      </td>
    </ng-container>

    <!-- Credit Column -->
    <ng-container matColumnDef="credit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Avance TTC </th>
      <td mat-cell *matCellDef="let element"> {{element.credit}} </td>
    </ng-container>

    <!-- Externals cost Column -->
    <ng-container matColumnDef="externalCosts">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Coûts externes HT </th>
      <td mat-cell *matCellDef="let element"> {{element.externalCosts}} </td>
    </ng-container>

    <!-- Marge Column -->
    <ng-container matColumnDef="marge">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Marge HT </th>
      <td mat-cell *matCellDef="let element"> {{element.marge}} </td>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" >
        <button mat-button>
          <mat-icon color="primary" (click)="editOrder(element.route, element.id, element.isArchived)">edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>

</div>
