<form [formGroup]="createProductForm" class="main-container">
  <h2>Nouveau produit</h2>
  <mat-form-field>
    <label>
      <input type="text" matInput formControlName="name" placeholder="Nom" required>
    </label>
    <mat-error *ngIf="name.invalid">Veuillez renseigner le nom.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <label>
      <input type="text" matInput formControlName="description" placeholder="Description">
    </label>
  </mat-form-field>
  <mat-form-field>
    <label>
      <input type="text" matInput formControlName="internal_number" placeholder="Numéro interne" required>
    </label>
    <mat-error *ngIf="internal_number.invalid">Veuillez renseigner le numéro interne.</mat-error>
  </mat-form-field>
  <mat-form-field class="margin-bottom-1">
    <label>
      <input type="text" matInput formControlName="comment" placeholder="Commentaires">
    </label>
  </mat-form-field>

  <div class="margin-bottom-1">
    <label>Type de prestation : </label>
    <mat-radio-group formControlName="type">
      <mat-radio-button [value]="ProductType.rental" checked>location de matériel</mat-radio-button>
      <mat-radio-button [value]="ProductType.longRental">location longue durée</mat-radio-button>
      <mat-radio-button [value]="ProductType.sale">vente de matériel</mat-radio-button>
      <mat-radio-button [value]="ProductType.service">prestation de service</mat-radio-button>
      <mat-radio-button [value]="ProductType.serviceContract">contrat de maintenance</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="margin-bottom-1" *ngIf="createProductForm.value.type === ProductType.rental || createProductForm.value.type === ProductType.longRental">
    <label>Appliquer prix dégressifs : </label>
    <mat-radio-group formControlName="apply_degressivity">
      <mat-radio-button value="true">Oui</mat-radio-button>
      <mat-radio-button value="false">Non</mat-radio-button>
    </mat-radio-group>
  </div>

  <mat-form-field *ngIf="createProductForm.value.type === ProductType.sale">
    <label>
      <input type="number" matInput formControlName="sell_price" placeholder="Prix de vente" required>
    </label>
  </mat-form-field>
  <mat-form-field *ngIf="createProductForm.value.type === ProductType.service">
    <label>
      <input type="number" matInput formControlName="sell_price" placeholder="Prix prestation de service" required>
    </label>
  </mat-form-field>
  <mat-form-field *ngIf="createProductForm.value.type === ProductType.serviceContract">
    <label>
      <input type="number" matInput formControlName="sell_price" placeholder="Montant annuel contrat de maintenance" required>
    </label>
  </mat-form-field>
  <mat-form-field *ngIf="createProductForm.value.type === ProductType.rental">
    <label>
      <input type="number" matInput formControlName="rent_price" placeholder="Prix journalier de location" required>
    </label>
  </mat-form-field>
  <mat-form-field *ngIf="createProductForm.value.type === ProductType.longRental">
    <label>
      <input type="number" matInput formControlName="rent_price" placeholder="Prix mensuel de location" required>
    </label>
  </mat-form-field>
  <mat-form-field *ngIf="createProductForm.value.type === ProductType.rental || createProductForm.value.type === ProductType.longRental">
    <label>
      <input type="number" matInput formControlName="stock" placeholder="Stock" required>
    </label>
    <mat-error *ngIf="stock.invalid">Veuillez renseigner le stock</mat-error>
  </mat-form-field>
  <div>
    <h5>Photo</h5>
    <input type="file" placeholder="Photo" (change)="updateFile($event)" #inputPhoto accept="image/*">
    <button mat-button>
      <mat-icon color="warn" (click)="deletePhoto(inputPhoto)" *ngIf="photoFile!=undefined">delete</mat-icon>
    </button>
  </div>
</form>
<div class="button-container">
  <button mat-raised-button color="primary" type="button" (click)="wantAddProduct()" [disabled]="!createProductForm.valid">Enregistrer</button>
  <a routerLink="/list-products" mat-raised-button>Annuler</a>
</div>




