<form [formGroup]="detailProductForm" class="main-container">
  <h2>Fiche produit</h2>
  <mat-form-field>
    <label>
      <input type="text" matInput formControlName="name" placeholder="Nom" required>
    </label>
    <mat-error *ngIf="name.invalid">Veuillez renseigner le nom.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <label>
      <input type="text" matInput formControlName="description" placeholder="Description">
    </label>
  </mat-form-field>
  <mat-form-field>
    <label>
      <input type="text" matInput formControlName="internal_number" placeholder="Numéro interne" required>
    </label>
    <mat-error *ngIf="internal_number.invalid">Veuillez renseigner le numéro interne.</mat-error>
  </mat-form-field>
  <mat-form-field class="margin-bottom-1">
    <label>
      <input type="text" matInput formControlName="comment" placeholder="Commentaires">
    </label>
  </mat-form-field>
  <div class="margin-bottom-1">
    <label>Type de prestation : </label>
    <mat-radio-group formControlName="type">
      <mat-radio-button [value]="ProductType.rental" checked>location de matériel</mat-radio-button>
      <mat-radio-button [value]="ProductType.longRental">location longue durée</mat-radio-button>
      <mat-radio-button [value]="ProductType.sale">vente de matériel</mat-radio-button>
      <mat-radio-button [value]="ProductType.service">prestation de service</mat-radio-button>
      <mat-radio-button [value]="ProductType.serviceContract">contrat de maintenance</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="margin-bottom-1" *ngIf="detailProductForm.value.type === ProductType.rental">
    <label>Appliquer prix dégressifs : </label>
    <mat-radio-group formControlName="apply_degressivity">
      <mat-radio-button value="true">Oui</mat-radio-button>
      <mat-radio-button value="false">Non</mat-radio-button>
    </mat-radio-group>
  </div>
  <mat-form-field *ngIf="detailProductForm.value.type === ProductType.sale">
    <label>
      <input type="number" matInput formControlName="sell_price" placeholder="Prix de vente" required>
    </label>
  </mat-form-field>
  <mat-form-field *ngIf="detailProductForm.value.type === ProductType.service">
    <label>
      <input type="number" matInput formControlName="sell_price" placeholder="Prix prestation de service" required>
    </label>
  </mat-form-field>
  <mat-form-field *ngIf="detailProductForm.value.type === ProductType.serviceContract">
    <label>
      <input type="number" matInput formControlName="sell_price" placeholder="Montant annuel contrat de maintenance" required>
    </label>
  </mat-form-field>
  <mat-form-field *ngIf="detailProductForm.value.type === ProductType.rental">
    <label>
      <input type="number" matInput formControlName="rent_price" placeholder="Prix de location" required>
    </label>
  </mat-form-field>
  <mat-form-field *ngIf="detailProductForm.value.type === ProductType.longRental">
    <label>
      <input type="number" matInput formControlName="rent_price" placeholder="Prix mensuel de location" required>
    </label>
  </mat-form-field>
  <mat-form-field *ngIf="detailProductForm.value.type === ProductType.rental || detailProductForm.value.type === ProductType.longRental">
    <label>
      <input type="number" matInput formControlName="stock" placeholder="Stock" required>
    </label>
    <mat-error *ngIf="stock.invalid">Veuillez renseigner le stock</mat-error>
  </mat-form-field>

<ng-container *ngIf="detailProductForm.value.type === ProductType.rental || detailProductForm.value.type === ProductType.longRental">
  <input type="text" (change)="setProductStatus($event.target.value)" autofocus #inputProductStatus style="opacity: 0;">
  <div class="margin-bottom-1" >
    <label>Statut du produit : </label>
    <mat-radio-group formControlName="status" (ngModelChange)="resetInputProductStatus()">
      <mat-radio-button [value]="ProductStatus.Available">Disponible à la location</mat-radio-button>
      <mat-radio-button [value]="ProductStatus.Unavailable">Indisponible / loué</mat-radio-button>
      <mat-radio-button [value]="ProductStatus.Maintenance">En maintenance / réparation</mat-radio-button>
    </mat-radio-group>
  </div>
  <div style="margin-left: 140px;">
    <img [src]="'assets/img/available.png'" class="qrcodeImg" title="Disponible à la location">
    <img [src]="'assets/img/unavailable.png'" class="qrcodeImg" title="Indisponible / loué">
    <img [src]="'assets/img/maintenance.png'" class="qrcodeImg" title="En maintenance / réparation">
  </div>
</ng-container>

  <div>
    <h5>Photo</h5>
    <div *ngIf="downloadPhotoURL==undefined">
      <input type="file" placeholder="Photo" (change)="updateFile($event)" #inputPhoto accept="image/*">
      <button mat-button>
        <mat-icon color="warn" (click)="deleteInputPhoto(inputPhoto)" *ngIf="photoFile!=undefined">delete</mat-icon>
      </button>
      <div>upload {{ uploadPhotoPercent | async }} %</div>
    </div>
    <div *ngIf="downloadPhotoURL!=undefined">
      <a [href]="downloadPhotoURL | async" target="_blank"> <img [src]="downloadPhotoURL | async" class="photo-img" alt="photo produit"/></a>
      <button mat-button>
        <mat-icon color="warn" (click)="wantDeletePhotoOnFirestorage()" >delete</mat-icon>
      </button>
    </div>
  </div>
</form>
<div class="button-container">
  <button mat-raised-button color="primary" type="button" (click)="updateProduct()" [disabled]="!detailProductForm.valid">Enregistrer</button>
  <button mat-raised-button color="warn" type="button" (click)="wantDeleteProduct()">Supprimer</button>
  <a routerLink="/list-products" mat-raised-button>Annuler</a>
</div>
